---
import Quicklinks from "../components/Quicklinks.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";

import config from '../config/default.json';
---
<Layout title="Privacy Policy & SMS Terms - Compass Insurance Group" route="faq">
    <div class="relative flex flex-col gap-6 px-6 md:px-0 md:max-w-[700px] lg:max-w-[900px] md:mx-auto lg:mb-10">
        <div class="flex flex-col items-start w-full gap-3 mt-5">
            <div class="product-header text-center mx-auto">Privacy & Terms</div>
            <div class="product-subheader !text-left">SMS Terms & Conditions</div>
            <p>You agree to receive informational messages (appointment reminders, account notifications, etc) from Compass Insurance Group. Message frequency will vary. Message and data rates may apply. Carriers are not liable for delayed or undelivered messages. You can cancel SMS service at any time. Just reply STOP. Once you reply STOP to us, we will send a message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us. If you want to join again, just sign up as you did the first time and we will start sending SMS messages to you again. If you are experiencing issues with the messaging program you can reply with the word HELP for more assistance, or you can get help directly at ashley@compass-insurancegroup. If you have any questions regarding privacy, please contact us.</p>
        </div>
        <Button className="mt-3 w-[80%] max-w-[425px] mx-auto md:w-full lg:w-80 lg:mx-0" href={config.links.contact.href}>{config.links.contact.buttonText}</Button>
        <Quicklinks className="lg:hidden mb-6 mx-auto md:max-w-[700px]" showDropdown />
    </div>
</Layout>
