---
import Quicklinks from "../components/Quicklinks.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";

import config from '../config/default.json';
---
<Layout title="SMS Terms of Service & Privacy Policy - Compass Insurance Group" route="terms-conditions">
    <div class="relative flex flex-col gap-6 px-6 md:px-0 md:max-w-[700px] lg:max-w-[900px] md:mx-auto lg:mb-10">
        <div class="flex flex-col items-start w-full gap-3 mt-5">
            <div class="product-header text-center mx-auto">SMS Terms of Service & Privacy Policy</div>
            <p>Document Last Modified: February 20, 2025</p>
            <p>The following Terms of Service and Privacy Policy apply to Compass’s use of SMS via 10DLC and short codes.</p>
            <div class="product-subheader !text-left">SMS Terms of Service</div>
            <p><b>Program description</b>: We use SMS for several purposes such as supporting our clients, communicating important information to clients and prospective clients, authentication, 1-on-1 person to person conversation, etc.  Here are a few example messages a user might receive:</p>
            <p><i>"It was great meeting you today, John, I look forward to meeting next week!"</i><br><i>"The link is attached to submit your list of prescriptions."</i><br><i>"The Medicare Annual Enrollment Period begins October 15th. Keep an eye out for your Annual Notice of Change in the mail."</i></p>
            <p><b>Frequency</b>: Message frequency varies but is almost always triggered by a subscriber’s action.</p>
            <p><b>Opt-out</b>: You can cancel the SMS service at any time. Just reply back with <b>STOP</b>. After you send the SMS message <b>STOP</b> to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us. If you want to join again, just reply back with <b>START</b> and we will start sending SMS messages to you again.</p>
            <p><b>Help</b>: If you are experiencing issues with the messaging program you can reply with the keyword <b>HELP</b> for more assistance, or you can get help directly by contacting our support team at admin@compass-insurancegroup.com or calling our support helpdesk at 317-398-9321</p>
            <p><b>Interruption</b>: Carriers are not liable for delayed or undelivered messages.</p>
            <p><b>Cost</b>: As always, message and data rates may apply for any messages sent to you from us and to us from you. If you have any questions about your text plan or data plan, it is best to contact your wireless provider.</p>
            <p><b>Privacy</b>: If you have any questions regarding privacy, please read our privacy policy below.</p>
            <div class="product-subheader !text-left">SMS Privacy Policy</div>
            <p>Compass is committed to protecting your privacy. This Privacy Policy (the “Policy”) governs how we treat the Personal Information that we collect and receive from you in connection with your use of the SMS Service (“Service”), which we make available to you through a third-party service provider. This Policy is incorporated into our SMS Terms of Service.<p>
            <p>By using the Service, you agree to the terms of this Policy. Compass reserves the right, in its sole discretion, to modify or change this Policy at any time with or without prior notice to you. The date of the last update will be posted at the top of this Policy for your convenience. This Policy, and any changes, are effective as soon as posted. Your continued use of the Service following the posting of any changes to the Policy constitutes your full acceptance of those changes.</p>
            <p>“Personal Information” is information that individually identifies you, such as your mobile phone number or user/screen name, as well as any Personal Information that you choose to include in messages you send through the Service.</p>
            <div class="product-subheader !text-left">What Personal Information is collected about you</div>    
            <p>Through the use of the Service, Compass will receive the following information from our third-party service provider: your mobile phone number when you send a text message to us and the text of messages that you send to us.</p>
            <div class="product-subheader !text-left">How Compass uses Personal Information about you</div>
            <p>We use Personal Information to (a) provide you with the Service, (b) process and respond to inquiries, (c) improve the Service, (d) if necessary, contact you with important announcements or messages, and (e) conduct research.</p>
            <p>Each message that you send through the Service to us is stored on our servers. We retain these messages on our servers. Compass utilizes servers and services owned by third parties.</p>
            <div class="product-subheader !text-left">Disclosure of your information</div>
            <p>We will not rent or sell your Personal Information to other companies or individuals. Mobile information will not be shared with third parties/affiliates for marketing/promotional purposes. We may use or disclose such information in any of the following limited circumstances:</p> 
            <ul>
                <li>We have your express written consent to share limited information for the purpose of providing support to you at your request.</li>
                <li>We need to enforce our Terms of Service.</li>
                <li>We provide such information to trusted businesses or persons for the sole purpose of processing Personal Information on our behalf. When this is done, it is subject to agreements that oblige those parties to process such information only on our instructions and in compliance with this Policy and appropriate confidentiality and security measures.  If the third party fails to comply with our terms, Compass is not accountable in any way for any liability or reimbursement.</li>
                <li>We provide such information to third parties who have entered into non-disclosure agreements with us.</li>
                <li>We provide such information to a company controlled by, or under common control with, Compass for any purpose permitted by this policy.</li>
                <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights, or the legal rights of others, or defend against legal claims.</li>
                <li>We believe it is necessary to share Personal Information to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Compass’s Terms of Service, or as otherwise required by law.</li>
                <li>We transfer Personal Information about you if Compass is, or its assets are, acquired by or merged with another company.</li>
            </ul>
            <p>We may share aggregated information with others without further notice. An example of this would be the number of people who used the Service in a given month or the total number of texts sent in a given week.</p>
            <div class="product-subheader !text-left">Security</div>
            <p>Compass takes precautions to ensure the security of your Personal Information, including ensuring that our third-party service providers protect the security of your Personal Information. However, we cannot guarantee that hackers or unauthorized personnel will not gain access to your Personal Information despite our efforts. You should note that in using the Service, your information will travel through third party infrastructures which are not under our control (such as a third-party SMS delivery platform or your carrier network).</p>
            <div class="product-subheader !text-left">Opting in</div>
            <p>A mobile user might opt-in by:<p>
            <ul>
                <li>Entering a phone number online,</li>
                <li>Sending a Mobile Originating (MO) message,</li>
                <li>Filling out a paper form that includes their phone number, or</li>
                <li>Signing up to be a client of Compass and using any of our services.</li>
            </ul>
            <div class="product-subheader !text-left">Opting out</div>
            <p>Compass gives you the ability to opt out of the Service for any reason. You can opt out by texting “STOP” to the number you no longer wish to receive messages from.</p>
            <p>We reserve the right to send you certain communications relating to the Service, such as announcements and administrative messages, without offering you the opportunity to opt-out of receiving them.</p>
            <div class="product-subheader !text-left">Children</div>
            <p>The Service is not intended for children under 13, and Compass does not knowingly collect information from children under the age of 13.</p>
            <p>Children aged 13 or older should not submit any Personal Information without the permission of their parents or guardians. By using the Service, you are representing that you are at least 18, or that you are at least 13 years old and have your parents’ permission to use the service.</p>
            <div class="product-subheader !text-left">Intended audience</div>
            <p>Compass requires that users of this service be limited to clients and prospective clients, or their authorized representatives, located primarily in North America.</p>
            <div class="product-subheader !text-left">Questions or concerns?</div>
            <p>If you have any additional questions regarding this Policy, please feel free to contact us any time by emailing admin@compass-insurancegroup.com or calling 317.392.9321.</p>
        </div>
        <Button className="mt-3 w-[80%] max-w-[425px] mx-auto md:w-full lg:w-80 lg:mx-0" href={config.links.contact.href}>{config.links.contact.buttonText}</Button>
        <Quicklinks className="lg:hidden mb-6 mx-auto md:max-w-[700px]" showDropdown />
    </div>
</Layout>
